.container {
    margin-top: 16px;

    .class-module {
        // background: #F6F6F6;
        background: red;
        border-radius: 0 6px 6px 0;

        &-item {
            position: relative;

            &.select {
                background: green;
            }

            &.spacing {
                padding: 10px;
            }
        }

        &-item::after,
        &-item::before {
            width: 6px;
            height: 6px;
            background: #fff;
            border-radius: 100%;
            top: -6px;
            right: 0;
            position: absolute;
        }

        &-item::before {
            left: -20px;
            clip-path: inset(50% -10px 0 50%);
        }

        &-item::after {
            right: -20px;
            clip-path: inset(50% 50% 0 -10px);
        }
    }
}