.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  height: 100%;
}

.home {
  height: 100%;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
  position: relative;
}

/* 以下为公共样式 */
.flex {
  display: flex;
}

.msx-5 {
  margin: 5px 0;
}

.badge {
  width: 12px;
  height: 12px;
  font-size: 12px;
  background: #ff5050;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

input, input:focus,
textarea, textarea:focus,
select, select:focus {
  font-size: 16px !important;
}